body {
  background-color: white;
  color: black;
  font-family: Arial;
}

pre {
  border-left: 5px solid black;
}

.content {
  display:block;
  padding: 5%;
  max-width: 600px;
}

.footer_content {
  display:block;
  padding: 5%;
  max-width: 600px;
  border-top: 1px solid black;
  
}

textarea {
  display:block;
  resize: none;
  width: 100%;
  max-width: 600px;
}

input {
  display:block;
  width: 100%;
  max-width: 600px;
}
